body {
  background-color: #002651;
  padding: 50px;
}
#canvas {
  background-color: #F3FBFF;
  position:absolute;
  /*top:10px;
  left:10px;*/
}
#canvas_bg {
  background-color: pink ;
  position:absolute;
  /*top:10px;
  left:10px;*/
}
