body {
  background-color: #0c0c0c;
  padding: 40px;
}
#canvas {
  background-color: #050505;
  position:absolute;
  /*top:10px;
  left:10px;*/
}
#canvas_bg {
  background-color: pink ;
  position:absolute;
  /*top:10px;
  left:10px;*/
}

